# Игнорируем Python-кэш
__pycache__/

# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем файлы IDE
.idea/
.vscode/

# Игнорируем временные файлы
*.tmp
*.log

# Игнорируем файлы данных
*.json
*.csv
